#bodyImg {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 32;

}

#shirtImg {
    display: grid;
    grid-row-start: 15;
    grid-row-end: 32;
    grid-column-start: 5;
}

#pantsImg {
    display: grid;
    grid-row-start: 23;
    grid-column-start: 3;
}

#bodyTest {
    display: grid;
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(32, 25px);
}
